<div class="container">
  <h1>Products</h1>
  <div class="row ">
    <div class="col-md-4" *ngFor="let data of alldata">
      <div class="card">
        <h3 class="card-title">{{data.title}}</h3>
        <div class="card-body">
          <img src={{data.img}} class="card-img-top" alt="...">
          <h5 class="card-text">{{data.description}}</h5>
          <a href="#" class="btn btn-info">BUY Now</a>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card">
        <h3 class="card-title">samsung S21</h3>
        <div class="card-body">
          <img src="../../../assets/img/product/mob2.jpg" class="card-img-top" alt="...">
          <h6 class="card-text">	
            الكاميرا الرئيسية - الدقة (متعددة)
            ‎108.0 MP + 10.0 MP + 12.0 MP + 10.0 MP
          </h6>
          <a href="#" class="btn btn-info">BUY Now</a>
        </div>
      </div>

    </div>

    <div class="col-md-4">
      <div class="card">
        <h3 class="card-title">samsung S21</h3>
        <div class="card-body">
          <img src="../../../assets/img/product/mob2.jpg" class="card-img-top" alt="...">
          <h6 class="card-text">	
            الكاميرا الرئيسية - الدقة (متعددة)
            ‎108.0 MP + 10.0 MP + 12.0 MP + 10.0 MP
          </h6>
          <a href="#" class="btn btn-info">BUY Now</a>
        </div>
      </div>

    </div>
    <div class="col-md-4">
      <div class="card">
        <h3 class="card-title">samsung S21</h3>
        <div class="card-body">
          <img src="../../../assets/img/product/mob2.jpg" class="card-img-top" alt="...">
          <h6 class="card-text">	
            الكاميرا الرئيسية - الدقة (متعددة)
            ‎108.0 MP + 10.0 MP + 12.0 MP + 10.0 MP
          </h6>
          <a href="#" class="btn btn-info">BUY Now</a>
        </div>
      </div>

    </div>
    <div class="col-md-4">
      <div class="card">
        <h3 class="card-title">samsung S21</h3>
        <div class="card-body">
          <img src="../../../assets/img/product/mob2.jpg" class="card-img-top" alt="...">
          <h6 class="card-text">	
            الكاميرا الرئيسية - الدقة (متعددة)
            ‎108.0 MP + 10.0 MP + 12.0 MP + 10.0 MP
          </h6>
          <a href="#" class="btn btn-info">BUY Now</a>
        </div>
      </div>

    </div>
    <div class="col-md-4">
      <div class="card">
        <h3 class="card-title">samsung S21</h3>
        <div class="card-body">
          <img src="../../../assets/img/product/mob2.jpg" class="card-img-top" alt="...">
          <h6 class="card-text">	
            الكاميرا الرئيسية - الدقة (متعددة)
            ‎108.0 MP + 10.0 MP + 12.0 MP + 10.0 MP
          </h6>
          <a href="#" class="btn btn-info">BUY Now</a>
        </div>
      </div>

    </div>
    <div class="col-md-4">
      <div class="card">
        <h3 class="card-title">samsung S21</h3>
        <div class="card-body">
          <img src="../../../assets/img/product/mob2.jpg" class="card-img-top" alt="...">
          <h6 class="card-text">	
            الكاميرا الرئيسية - الدقة (متعددة)
            ‎108.0 MP + 10.0 MP + 12.0 MP + 10.0 MP
          </h6>
          <a href="#" class="btn btn-info">BUY Now</a>
        </div>
      </div>

    </div>
    
  </div>
</div>




<!--
          <div class="col-md-4"*ngFor="let data of alldata">
        <div class="card" > 
           <h3 class="card-title">{{data.title}}</h3>
            <div class="card-body">
              <img src={{data.img}} class="card-img-top" alt="...">
              <h5 class="card-text">{{data.description}}</h5>
              <a href="#" class="btn btn-info">BUY Now</a>
            </div>
        </div>
        </div>
-->
