.container{
    margin: 180px auto;
    text-align: center;
}
.card{
    
      border-top: 1px double rgb(19, 234, 0);
      border-left: 1px double rgb(19, 234, 0);
      box-shadow: 10px 10px 10px black;
      text-align: center;
      background-color: darkgray;
      height: 500px;
      
  
  }
  img{
    width: 100%;
    height: 70%;
  }
  .container h1{
    width: 60%;
    margin: 50px auto;
    box-shadow: 10px 10px 10px black;
    border: 1px solid black;
  }
  .col-md-4{
    margin-top: 20px;
  }
 h6{
    padding-top: 20px;
  }
  a{
    margin-top: 20px;
  }