<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" style="color: rgb(170, 163, 175);" href="#">OBJECT</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only"></span></a>
      </li>
     
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
          Employee
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" routerLink="create_employees">Create Employee</a>
          <a class="dropdown-item"  routerLink="list_employees" >List Employee</a>
         
        </div>
      </li>
     
  
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
          Products
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" routerLink="create_product">Create Products</a>
          <a class="dropdown-item"  routerLink="list_product" >List Products</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Update Products</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
          Customers
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" routerLink="create_customer">Create Customers</a>
          <a class="dropdown-item"  routerLink="list_customer">List Customers</a>
        </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>




































