
        <div class="card col-md-6 ">
            <h1>List Customer</h1>
              <div class="card-body">
               
                  <table class="table">
                      <thead>
                        <tr>
                          <th scope="col">ID</th>
                          <th scope="col">FName</th>
                          <th scope="col">LName</th>
                          <th scope="col"></th>
                         
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let data of alldata">
                          <td>{{data.id}}</td>
                          <td>{{data.f_name}}</td>
                          <td>{{data.l_name}}</td>
                          <td><a class="btn btn-info"routerLink="/showc/{{data.id}}">ShowMore</a></td>
                        </tr>
                      </tbody>
                    </table>
              </div>
          </div>
  